@media all and (min-width: 800px) {
    header {
        flex-direction: row;
        width: 100%;
    }

    header span {
        flex-grow: 1;
    }

    main {
        flex-direction: row-reverse;
        margin-bottom: 2em;
    }

    main .profile {
        align-items: flex-start;
        gap: 1em;
    }
    main .profile h1{
        text-align: left;
    }

    main .profile .description {
        text-align: left;
        margin: 0 5em 1.4em 0; 
    }

    .stack {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-inline: 10em;
        gap: 0 5em;
    }

    .projects .projects_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-inline: 10em;
        gap: 0 5em;
    }

    .contact p {
        margin-inline: 15em;
    }



}