@media all and (min-width: 1439px) {

    body {
        max-width: 52.9em;
        padding-top: .4em;
    }

    header {
        margin-bottom: 6em;
    }

    header span{
        letter-spacing: 2px; 
    }

    header ul {
        gap: 1.5em;
        padding: .1em 1.4em 0 0;
    }

    main {
        max-width: 53em;
        gap: 6em;
        margin-bottom: 7em;
    }

    main .profile h1{
        font-size: 3.9rem;
        letter-spacing: .5px;
        line-height: 1.1;
        max-width: 10em;
        margin-bottom: .2em;
    }

    main .profile .description {
        margin-bottom: 1.05em;
    }

    main .profile h1 .tablet_br {
        display: none;
    }    
    
    .border_01 {
        margin-bottom: 3.7em;
    }

    .stack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 1em;
        max-width: 52.9em;
        margin-bottom: 3.2em;
    }

    .stack .stack_elements{
        padding-left: .25em;
        margin-bottom: 3.3em;
    }

    .stack .stack_elements p{
        font-size: .85rem;
        letter-spacing: .1px;
    }

    .stack .stack_elements h3{
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: .45em;
    }

    .projects {
        max-width: 52.7em;
        margin-bottom: 1em;
    }

    .projects .projects_header {
        max-width: 52.7em;
        margin-bottom: 3.9em;
    }

    .projects .projects_header h2{
        font-size: 4rem;
        text-align: left;
    }

    .projects .projects_header button {
        letter-spacing: 2.2px;
    }

    .projects article img{
        width: 25.75em;
        margin-bottom: 1.2em;
    }

    .projects .projects_content { 
        gap:0 1.4em;
    } 

    .contact {
        justify-content: flex-start;
        align-items:flex-start;
        max-width: 57.9em; 
        width: 100%;
        padding-top: 3em;
    }

    .contact .contact_header {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        max-width: 50em;
        margin-bottom: 2em;
    }

    .contact .contact_header h2 {
        font-size:4rem;
        margin-left: 0;
        max-width: 50em;
        text-align: left;

    }
    .contact .contact_header p {
        text-align: left;
        margin: 0;
        max-width: 40em;
    }

    .border_04 {
        max-width: 55em;
    }

    footer { 
        padding-top: 2.2em;
    }
}